EditorSettings:
  LoadLastOpenProject: true
  LastProjectPath: E:\EpochTest\EpochTest.eproj
  AutoSaveSceneBeforePlay: false
  TranslationSnapValue: 10
  RotationSnapValue: 45
  ScaleSnapValue: 0.100000001
  AxisOrientation: 1
  MultiTransformTarget: 0
  CreateEntitiesAtOrigin: true
  GridEnabled: false
  GridOpacity: 0.5
  GridSizeX: 10
  GridSizeY: 10
  GridPlane: 1
  ContentBrowserThumbnailSize: 104.695999
  AutosaveEnabled: true
  AutosaveIntervalSeconds: 900
  AutomaticallyReloadScriptAssembly: true
  ReloadScriptAssemblyWhilePlaying: 0
  ClearConsoleOnPlay: true
  CollapseConsoleMessages: true