# Binaries
**/bin/
!vendor/bin/premake/
!Epoch/vendor/assimp/bin
!Epoch/vendor/mono/bin
bin-int/
Aeon/Resources/Scripts
**/cache/**
**/Cache/**

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.user

# Folders
Aeon/Profiling_Results
Aeon/logs
