# Binaries
**/bin/
!vendor/bin/premake/
!Epoch/vendor/assimp/bin
!Epoch/vendor/mono/bin
obj/
bin-int/
Epoch-Editor/Resources/Scripts
**/cache/**
**/Cache/**

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.user

# Folders
Epoch-Editor/Profiling_Results
Epoch-Editor/logs
Epoch-Editor/Config

# Files
**.auto
Epoch-Editor/imgui.ini
