# Binaries
**/bin/
!vendor/bin/premake/
!Epoch/vendor/assimp/bin
!Epoch/vendor/mono/bin
obj/
bin-int/
Epoch-Runtime/Resources/Scripts
**/cache/**
**/Cache/**

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.user

# Folders
Epoch-Runtime/Profiling_Results
Epoch-Runtime/logs
Epoch-Runtime/Config

# Files
**.auto
Epoch-Runtime/imgui.ini
