EditorSettings:
  LoadLastOpenProject: true
  LastProjectPath: E:\EpochTest\EpochTest.eproj
  AutoSaveSceneBeforePlay: true
  RecentProjects:
    - Name: EpochTest
      ProjectPath: E:\EpochTest\EpochTest.eproj
      LastOpened: 1740164169
    - Name: Minesweeper
      ProjectPath: E:\Minesweeper\Minesweeper.eproj
      LastOpened: 1740155997
    - Name: DefaultProject
      ProjectPath: DefaultProject\DefaultProject.eproj
      LastOpened: 1737727202
  TranslationSnapValue: 50
  RotationSnapValue: 45
  ScaleSnapValue: 0.5
  AxisOrientation: 0
  MultiTransformTarget: 0
  CreateEntitiesAtOrigin: true
  GridEnabled: false
  GridOpacity: 0.5
  GridOffset: [0, 0, 0]
  GridSize: [20, 20]
  GridPlane: 1
  ContentBrowserThumbnailSize: 116.95652
  AutosaveEnabled: false
  AutosaveIntervalSeconds: 1800
  AutomaticallyReloadScriptAssembly: true
  ReloadScriptAssemblyWhilePlaying: 0
  ClearConsoleOnPlay: true
  CollapseConsoleMessages: true
  AutomaticallyReloadShader: true